
@media screen and (max-width: 700px) {

    /*-----------------------
    # General 
    -----------------------*/

    html body {
        font-size: 1rem;
        padding: 0 25px 25px 25px;
    }

    html body nav.center-elements {
        padding: 0 5px;
    }

    nav.center-elements a {
        font-size: 0.8rem;
    }

    nav.center-elements::after, nav.center-elements::before {
        height: 3px;
    }

    nav.center-elements::after {
        width: calc(var(--nav-after-width) - 2px);
    }

    nav.center-elements::before {
        width: calc(var(--nav-before-width) - 2px);
    }

    nav.center-elements ul::before {
        top: calc(var(--nav-height) - 25px);

        border-top: 3px;
        border-left: 3px;
        border-style: solid;
    }

    nav.center-elements ul::after {
        top: calc(var(--nav-height) - 25px);

        border-top: 3px;
        border-right: 3px;
        border-style: solid;
    }

    Section.right {
        display: none;
    }

    /*-----------------------
    # Task List Screen
    -----------------------*/

    Section.right.can-modal.open {
        display: flex;
        position: fixed;

        width: 100%;
        height: 100%;

        background-color: var(--clr-Secondary);
        opacity: 0.9;
    }

    Section.right.can-modal.open .task-form {
        border: 3px solid var(--clr-Primary);
        background-color: var(--clr-Secondary); 
    }

    .equalizer-container {
        display: none;
    }

    #btn-play-task-form {
        display: block;
    }

    /*-----------------------
    # Settings Screen
    -----------------------*/

    .settings-container #task-form-input {
        height: 50px;
    }

    .settings-container #task-form-input::placeholder {
        font-size: 1rem;
    }

    /*-----------------------
    # New Task Screen
    -----------------------*/

    #new-task-screen input::placeholder, #new-task-screen textarea::placeholder {
        font-size: 1rem;
    }

    .btn {
        font-size: 1.2rem;
    }

}
